*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{    
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: rgb(252, 248, 248);
    background: radial-gradient(white,#fae5d3);
}

.signup-box{
    width: 360px;
    height: 540px;
    margin: auto;
    background-color: rgb(87, 85, 85);
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #888888;
}
h1{
    text-align: center;
    padding-top: 15px;
    color: orange;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}
input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(233, 159, 21);
    color: white;
    font-size: 18px;
    padding: auto;
}


p ,a{
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.para2{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -4px;
}
.para2 a{
    color: black;
}

.login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: rgb(87, 85, 85);
    border-radius: 15px;
    margin-top: 80px;  
    box-shadow: 10px 10px 10px #888888; 
}